@font-face {
  font-family: "sodimac";
  src: url("fonts/falabella.ttf?71wjou") format("truetype"),
    url("fonts/falabella.woff?71wjou") format("woff"),
    url("fonts/falabella.svg?71wjou#sodimac") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="csicon-"],
[class*=" csicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "sodimac" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.csicon-bill:before {
  content: "\e950";
}
.csicon-new_giftcard:before {
  content: "\e951";
}
.csicon-cash:before {
  content: "\e94f";
}
.csicon-wrong:before {
  content: "\e94e";
  color: #f00;
}
.csicon-credit:before {
  content: "\e94d";
  color: #bbb;
}
.csicon-edit:before {
  content: "\e94b";
  color: #888;
}
.csicon-alertModal:before {
  content: "\e94a";
  color: #bbb;
}
.csicon-close:before {
  content: "\e94c";
  color: #bbb;
}
.csicon-bundleTitle:before {
  content: "\e93e";
  color: #8fca00;
}
.csicon-icon-success-circle:before {
  content: "\e93f";
}
.csicon-logout:before {
  content: "\e900";
  color: #bbb;
}
.csicon-Addresses:before {
  content: "\e901";
}
.csicon-CMR:before {
  content: "\e902";
}
.csicon-Cpupon:before {
  content: "\e903";
}
.csicon-Giftcard:before {
  content: "\e904";
}
.csicon-Help:before {
  content: "\e905";
}
.csicon-Orders:before {
  content: "\e906";
}
.csicon-PersonalDetails:before {
  content: "\e907";
}
.csicon-Safe:before {
  content: "\e908";
}
.csicon-right:before {
  content: "\e93c";
}
.csicon-preferences:before {
  content: "\e939";
}
.csicon-shield:before {
  content: "\e93a";
}
.csicon-share:before {
  content: "\e936";
}
.csicon-reload:before {
  content: "\e935";
}
.csicon-alert:before {
  content: "\e934";
}
.csicon-calculator:before {
  content: "\e933";
}
.csicon-international-shipping:before {
  content: "\e929";
}
.csicon-edit1:before {
  content: "\e926";
}
.csicon-mail:before {
  content: "\e91b";
}
.csicon-star_no_filled:before {
  content: "\e921";
  color: #e0e0e0;
}
.csicon-star_full_filled:before {
  content: "\e922";
  color: #ffc100;
}
.csicon-novios .path1:before {
  content: "\e91f";
  color: rgb(186, 186, 186);
}
.csicon-novios .path2:before {
  content: "\e920";
  margin-left: -5.25em;
  color: rgb(26, 26, 26);
}
.csicon-location:before {
  content: "\e91a";
}
.csicon-star_half_filled .path1:before {
  content: "\e91d";
  color: rgb(224, 224, 224);
}
.csicon-star_half_filled .path2:before {
  content: "\e91e";
  margin-left: -0.9423828125em;
  color: rgb(255, 193, 0);
}
.csicon-falabella-logo:before {
  content: "\e919";
}
.csicon-unica-cmr .path1:before {
  content: "\e910";
  color: rgb(63, 174, 42);
}
.csicon-unica-cmr .path2:before {
  content: "\e918";
  margin-left: -3em;
  color: rgb(255, 255, 255);
}
.csicon-unica-cmr .path3:before {
  content: "\e940";
  margin-left: -3em;
  color: rgb(235, 0, 41);
}
.csicon-unica-cmr .path4:before {
  content: "\e942";
  margin-left: -3em;
  color: rgb(255, 255, 255);
}
.csicon-unica-cmr .path5:before {
  content: "\e943";
  margin-left: -3em;
  color: rgb(255, 255, 255);
}
.csicon-unica-cmr .path6:before {
  content: "\e944";
  margin-left: -3em;
  color: rgb(255, 255, 255);
}
.csicon-clean:before {
  content: "\e90f";
}
.csicon-add:before {
  content: "\e145";
}
.csicon-arrow_left:before {
  content: "\e408";
}
.csicon-arrow_right:before {
  content: "\e409";
}
.csicon-danger:before {
  content: "\e5cd";
}
.csicon-remove:before {
  content: "\e15b";
}
.csicon-cart:before {
  content: "\e909";
}
.csicon-grid:before {
  content: "\e90a";
}
.csicon-ham:before {
  content: "\e90b";
}
.csicon-history:before {
  content: "\e90c";
}
.csicon-info:before {
  content: "\e90d";
}
.csicon-list:before {
  content: "\e90e";
}
.csicon-boom_logo .path1:before {
  content: "\e911";
  color: rgb(186, 206, 26);
}
.csicon-boom_logo .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(186, 206, 26);
}
.csicon-boom_logo .path3:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(31, 126, 63);
}
.csicon-boom_logo .path4:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(87, 172, 50);
}
.csicon-boom_logo .path5:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(162, 197, 33);
}
.csicon-boom_logo .path6:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(115, 184, 78);
}
.csicon-myaccount:before {
  content: "\e912";
}
.csicon-pencil:before {
  content: "\e913";
}
.csicon-search:before {
  content: "\e914";
}
.csicon-succes:before {
  content: "\e915";
}
.csicon-arrow:before {
  content: "\e923";
}
.csicon-user1:before {
  content: "\e924";
}
.csicon-bag:before {
  content: "\e925";
}
.csicon-delivery:before {
  content: "\e927";
}
.csicon-arrow_down_small:before {
  content: "\e5cf";
}
.csicon-help:before {
  content: "\e92b";
}
.csicon-arrow_up_small:before {
  content: "\e5ce";
}
.csicon-triangle-right:before {
  content: "\e928";
}
.csicon-scale:before {
  content: "\e93d";
}
.csicon-filters:before {
  content: "\e916";
}
.csicon-icon-order:before {
  content: "\e917";
}
.csicon-disponibilidad:before {
  content: "\e92a";
}
.csicon-eye-close:before {
  content: "\e92f";
}
.csicon-eye-open:before {
  content: "\e930";
}
.csicon-person:before {
  content: "\e931";
}
.csicon-facebook-alt:before {
  content: "\e932";
  color: #fff;
}
.csicon-icon-scan:before {
  content: "\e92e";
}
.csicon-arrow_down:before {
  content: "\e92c";
  color: #bbb;
}
.csicon-arrow_up:before {
  content: "\e92d";
  color: #bbb;
}
.csicon-fala-sos:before {
  content: "\e91c";
  color: #a9a9a9;
}
.csicon-cmr-logo:before {
  content: "\e941";
  color: #33a548;
}
.csicon-whatsapp:before {
  content: "\e93b";
}
.csicon-pinterest:before {
  content: "\e938";
}
.csicon-email:before {
  content: "\e937";
}
.csicon-facebook:before {
  content: "\ea90";
}
.csicon-instagram:before {
  content: "\ea92";
}
.csicon-twitter:before {
  content: "\ea96";
}
.csicon-youtube:before {
  content: "\ea9d";
}
.csicon-arrow-left2:before {
  content: "\ea40";
}
.csicon-share2:before {
  content: "\ea82";
}
